/* I was unable to upload the folder "images" so I uploaded the picture directly */

/* colors and fonts */

body{
	background-color: #282333;
	color: #ededff;
	font-family: 'Lora', serif;
	font-size: 16px;

}

h2, h3{
	font-family: 'Forum', cursive;
}

h1{
	font-family: 'Overlock SC', cursive;
	color: #9C1D49;
	font-weight: 920;
	font-size: 60px;
	margin-bottom: 0px;
}

h2{
	color: #A7C8DB;
	font-weight: 300;
	font-size: 35px;
	margin-top: 0px;
}

h3{
	color: #FFE800;
	font-weight: 400;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 10px;
}

/* for the links */
a {
	font-family: 'Forum', cursive;
	text-decoration: none;
	color: #E10B69;
	transition: color 0.1s ease;
}


/* remove bullet points of lists */
ul{
	list-style: none;
}

/* custom desing with class */
.container{
	width: 750px;
	margin: 50px auto;
}


.card-darkblue{
	background-color: #013857;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(253, 253, 255, 0.1);
	border-radius: 5px;
	margin: 15px 0px;
	text-align: center;
}

#img-circle{
	width: 450px;
	border-radius: 47%;
	margin-bottom: 15px;
}

/* Orchestras */
.btn-darkpink{
	background-color: #E10B69;
	color: #FFFFFF;
	padding: 7px 14px;
	border-radius: 4px;
}
.btn-darkpink:hover{
	background-color: #4FB3FF;
}
.list-centered{
	padding-left: 0px;
}
.btn-margin{
	margin-bottom: 20px;
}
.text-margin{
	margin-bottom: 15px;
}

#orchestras p{margin-bottom: 20px}

/* FOLLOW ME */

.list-inline{
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 20px;
}
.list-inline a{
	font-size: 60px;
	color: #9C1D49;
}
.list-inline a:hover{
	color: #8AB3C9;
}

/* responsive design */

@media(max-width:800px){
	.container{
		width: 500px;
		font-size: 15px;
	}
	h1{font-size: 51px}
	h2{font-size: 28px}
	h3{font-size: 25px}
	#img-circle{
		margin-bottom: 10px;
		width: 350px
	}
}

@media(max-width:560px){
	.container{
		width: 400px;
		font-size: 14px;
	}
	h1{font-size: 35px}
	h2{font-size: 20px}
	h3{font-size: 23px}
	#img-circle{
		margin-bottom: 3px;
		width: 250px;
	}
}
